<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Phonebook WS</display-name>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>pb</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pb</servlet-name>
        <url-pattern>/pbws</url-pattern>
    </servlet-mapping>
</web-app>